.App ul li {
  list-style: none;
}

.App ul {
  display: flex;
  flex-direction: column;
}

.App ul li {
  display: flex;
  align-items: center;
  display: inline-block;
  height: 50px;
}

.App ul li .check {
  margin-right: 0.5rem;
  display: inline-block;
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  border: 2px solid #000;
}

.App ul li button {
  margin-left: 1rem;
  outline: none;
  border: none;
  background: tomato;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.active {
  background: skyblue;
  border: 2px solid skyblue !important;
}
