body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.5px;
  background: #111;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container p {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  color: #00acee;
  text-transform: uppercase;
  border-bottom: 2px solid #00acee;
}

.container .quotes {
  width: 750px;
}

.container .loader {
  color: #00acee;
  font-size: 3rem;
}

.container .quotes .quote {
  line-height: 1.8rem;
  font-size: 1.25rem;
  padding: 1rem 0;
  margin-bottom: 2rem;
  /* box-shadow: 0px 10px 10px -15px #999; */
  border-bottom: 1px solid #00acee;
}

.container .quotes .quote footer {
  margin-top: 0.5rem;
  text-align: end;
  font-size: 1rem;
  color: #00acee;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00acee;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
